@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap");

/** All text font-family: 'Montserrat', sans-serif; weights: 400, 500, 600**/

/** For HEADINGS font-family: 'Playfair Display', sans-serif; weights: 600 & 700 **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --tlj-green: #395542;
  --peru: #ac845c;
  --white: white;
  --tlj-gold: #f1dab2;
  --antique-white: #eddecd;
  --tlj-orange: #ff6a13;
}

a {
  text-decoration: none;
}

/**Header CSS **/

.header-container-padding {
  padding: 10px 50px;
  background-color: var(--white);
}

.header-hamburger,
.header-hamburger:focus {
  border: none;
  box-shadow: none;
}

/**make non draggable **/
.header-logo {
  width: 200px;
}

.navbar-nav-ul {
  margin-left: 25vw;
}

.navbar-nav-ul li a,
.navbar-text {
  text-transform: uppercase;
  color: var(--tlj-green);
  font-size: 12px;
  font-weight: 600;
}

.collapse .navbar-text span {
  padding-right: 20px;
}

.contact-us-green a {
  color: var(--tlj-green);
}

/**VIDEO HERO **/

.video-hero-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.video-hero-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content img {
  width: 400px;
}

.content h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-family: Gotham, sans-serif;
  font-weight: 500;
}

.content button,
.content a {
  background-color: var(--tlj-green);
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 15PX;
  font-weight: 500;
  line-height: 1.3em;
  border-radius: 8px;
  width: 230px;
  height: 6vh;
  color: var(--white);
  border: none;
  color: var(--antique-white);
}

/** Footer CSS **/
.footer-bg {
  background-color: var(--tlj-green);
}

.footer-bg li a {
  color: var(--white);
  font-size: 11px;
  font-weight: 500;
}

footer a:hover {
  color: var(--tlj-gold);
}

.non-hover:hover {
  color: var(--white);
}

.footer-header-gold {
  color: var(--tlj-gold);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.hr-line-footer {
  border-bottom: 0.5px solid var(--white);
  width: 100vw;
}

i {
  padding-right: 8px;
  font-size: 15px;
}

.nav-item a, footer .col a{
  -webkit-user-drag: none;
}

/**MEDIA QUERIES START **/

/**HEADER STYLES **/
@media only screen and (max-width: 990px) {
  .header-container-padding {
    padding: 5px 10px;
  }

  .navbar-nav-ul {
    margin-left: 0%;
  }

  .header-logo {
    width: 150px;
  }

  .navbar-nav-ul li a,
  .navbar-text {
    font-size: 1rem;
  }

  .collapse .navbar-text span {
    display: none;
  }
}