@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap');

/** All text font-family: 'Montserrat', sans-serif; weights: 400, 500, 600**/

/** For HEADINGS font-family: 'Playfair Display', sans-serif; weights: 600 & 700 **/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --tlj-green: #395542;
  --peru: #ac845c;
  --white: white;
  --tlj-gold: #f1dab2;
  --antique-white: #eddecd;
  --tlj-orange: #ff6a13;
}

a {
  text-decoration: none;
}

/**Header CSS **/

.header-container-padding {
  padding: 10px 50px;
  background-color: var(--white);
}

.header-hamburger,
.header-hamburger:focus {
  border: none;
  box-shadow: none;
}

/**make non draggable **/
.header-logo {
  width: 200px;
}

.navbar-nav-ul {
  margin-left: 25vw;
}

.navbar-nav-ul li a,
.navbar-text {
  text-transform: uppercase;
  color: var(--tlj-green);
  font-size: 12px;
  font-weight: 600;
}

.collapse .navbar-text span {
  padding-right: 20px;
}

.contact-us-green a {
  color: var(--tlj-green);
}

.navbar-contact-btn{
  display: none;
}

/**VIDEO HERO **/

.video-hero-container {
  position: relative;
  width: 100%;
  height: 65vh;
  overflow: hidden;
}

.video-hero-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content img {
  width: 400px;
}

.content h2 {
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--white);
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-family: Gotham, sans-serif;
  font-weight: 500;
}

.content button,
.content a {
  background-color: var(--tlj-green);
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3em;
  border-radius: 8px;
  width: 230px;
  height: 6vh;
  color: var(--white);
  border: none;
  color: var(--antique-white);
}


/** Our story CSS **/

.story-main-container {
  display: flex;
  align-items: center;
  color: var(--tlj-green);
  height: 100vh;
  padding-right: 50px;
}
.story-main-container h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
}
.story-main-container h3 {
  font-family: 'Playfair Display', sans-serif;
  letter-spacing: 0.3rem;
  font-size: 36px;
}
.story-left-imgs {
  display: flex;
}
.story-left-imgs img {
  height: 52vh;
  width: 30vw;
  object-fit: cover;
  border-radius: 8px;
}
.story-left-col-imgs {
  display: flex;
  flex-direction: column;
}
.story-left-col-imgs img {
  height: 250px;
  width: 200px;
  margin: 20px 20px 0px 20px;
}
.story-left-col-imgs :first-child {
 margin-top: 50px;
}
.story-right-text {
  line-height: 2em;
  padding-bottom: 90px;
}

/** Our story CSS END **/

/** Bakery Menu items CSS Start Index **/

.bakery-section-menu {
  background-color: var(--peru);
  color: var(--antique-white);
  padding-bottom: 100px;
}

.beverage-section-menu {
  background-color: var(--white);
  color: var(--tlj-green);
  padding-bottom: 100px;
}

.food-top-level-header {
  color: var(--antique-white);
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  font-size: 3.3em;
  font-weight: 700;
  line-height: 1;
  position: static;
  font-family: Playfair Display;
}

.food-top-level-desc {
  font-family: Gotham, sans-serif;
  font-size: 18px;
  line-height: 2em;
  color: var(--antique-white);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.beverage-top-level-header {
  color: var(--tlj-green);
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 50px;
  font-size: 3.3em;
  font-weight: 700;
  line-height: 1;
  position: static;
  font-family: Playfair Display;
}

.beverage-top-level-desc {
  font-family: Gotham, sans-serif;
  font-size: 18px;
  line-height: 2em;
  color: var(--tlj-green);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.category-header-hover {
  color: var(--antique-white);
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.015em;
  font-weight: 600;
}

.category-hover-text {
  display: none;
  opacity: 0;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0.6rem;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.3em;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: black black var(--antique-white);
  color: var(--antique-white);
  padding-bottom: 5px;
  text-decoration: none;
  transition: opacity 1s ease; /* Adjust the duration for a slower transition */
}

.category-image-card:hover .category-hover-text {
  display: block;
  opacity: 1;
  
}

#beverage-color-override {
  color: var(--tlj-green);
  border-color: black black var(--tlj-green);
}

.category-image-card {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  transition: transform 1s ease;
}

.category-image-card:hover {
  transform: translateY(-15px);
}

.category-image-border-radius {
  border-radius: 8px;
  height: 350px;
  object-fit: cover;
}

/** Bakery Menu items CSS End Index **/

/** CAROUSEL START **/
.carousel-box-size {
  margin: 0 auto;
  width: 87vw;
}
.carousel-img-sizing img {
  object-fit: cover;
  height: 55vh;
  border-radius: 8px;
}

/** CAROUSEL START END **/



/** Newsletter CSS START**/

.newsletter-header{
  color: var(--tlj-green);
  font-family: 'Playfair Display';
}

.newsletter-text{
   color: var(--tlj-green);
   font-weight: 500;
}

.newsletter-button{
  background-color: var(--tlj-green);
  color: var(--tlj-gold);
  padding: 5px;
  width: 200px;
  font-size: 18px;
  text-transform: uppercase;
}

.newsletter-button:hover{
  background-color: var(--tlj-green);
   color: var(--tlj-gold);
}

/* Add this to your existing styles or create a new CSS file */

.modal-content {
  background-color: var(--antique-white);
  color: #ffffff;
  border-radius: 10px;
}

.subscribe-message {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--tlj-green);
}

.modal-button-click {
  background-color: var(--peru);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-button-click:hover {
  background-color: var(--tlj-green);
  color: var(--tlj-gold);
}



/**SECOND HTML PAGE MENU CSS START**/

/** MENU HTML HERO SECTION **/

.menu-page-hero{
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.menu-page-heading{
  color: var(--antique-white);
  -webkit-text-stroke-color: var(--tlj-gold);
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  font-family: 'Playfair Display';
  font-size: 58px;
  line-height: 1;
}

/** FILTERING BAR START **/

.filtering-container {
  display: flex;
  background-color: var(--tlj-gold);
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
  height: 128px;
}
.filtering-container img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.filter-smaller img {
  width: 42px;
  height: 44px;
  margin-bottom: 2px;
}
.filtering-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filtering-container p {
  text-transform: uppercase;
  margin-bottom: 0px;
  color: var(--tlj-green);
  font-size: 0.9rem;
  font-weight: 600;
}

/** FILTERING BAR END **/










/**SECOND HTML PAGE MENU CSS END!!!**/







/**THIRD PAGE HTML DETAILS CSS START!!!**/



.details-jumbotron {
  position: relative;
  background-image: url("https://www.dispatch.com/gcdn/presto/2023/03/03/NCOD/c95d61f1-d68d-4d8b-8ed0-b8de02a65470-06_TOUS_LES_JOURS_CLH001.jpg");
  height: 25vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin-top: 50px;
}


.jumbotron-header{
  color: white;
}





/**THIRD PAGE HTML DETAILS CSS END!!!**/




/** Footer CSS **/
.footer-bg {
  background-color: var(--tlj-green);
}

.footer-bg li a {
  color: var(--white);
  font-size: 11px;
  font-weight: 500;
}

footer a:hover {
  color: var(--tlj-gold);
}

.non-hover:hover {
  color: var(--white);
}

.footer-header-gold {
  color: var(--tlj-gold);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.hr-line-footer {
  border-bottom: 0.5px solid var(--white);
  width: 100vw;
}

i {
  padding-right: 8px;
  font-size: 15px;
}

.nav-item a,
footer .col a {
  -webkit-user-drag: none;
}

/**MEDIA QUERIES START **/

/**HEADER STYLES **/
@media only screen and (max-width: 990px) {
  .header-container-padding {
    padding: 5px 10px;
  }

  .navbar-nav-ul {
    margin-left: 0%;
  }

  .header-logo {
    width: 150px;
  }

  .navbar-nav-ul li a,
  .navbar-text {
    font-size: 1rem;
  }

 #navbar-lg-contact-btn{
  display: none;
 }

  .navbar-contact-btn{
    display: block;
    margin: 0;
  }
}

/** VIDEO HERO **/

@media only screen and (max-width: 990px) {
  .content img {
  width: 200px;
}
}

/** OUR STORY **/
@media only screen and (max-width: 990px) {
  .story-main-container {
    height: auto;
    padding: 120px 35px;
    flex-direction: column-reverse;
    }
    .story-left-imgs img{
      width: 55%;
      height: 520px;
    }
    .story-left-col-imgs img {
      width: 90%;
      height: 275px;
    }
}

@media only screen and (max-width: 500px) {
      .story-main-container h3 {
        font-size: 2rem;
      }
      .story-left-imgs img{
        width: 90%;
        height: 275px;
      }
      .story-left-imgs {
        flex-direction: column;
        align-items: center;
      }
      .story-left-col-imgs :first-child {
        margin-top: 10px;
       }
       .story-left-col-imgs{
        margin-top: 10px;
       }
    }


/** MENU ITEMS **/

@media only screen and (max-width: 990px) {
 .food-top-level-header, .beverage-top-level-header{
  font-size: 2.5rem;
 }

 .food-top-level-desc .beverage-top-level-desc{
  font-size: 16px;
 }
}


/** footer **/
@media only screen and (max-width: 990px) {
.footer-logo-img{
  width: auto;
}
}
   


